# Node
node_modules

# SvelteKit output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg
.Python
venv/
env/
ENV/
.venv/
.virtualenv/

# Python packaging / build
dist/
build/
*.egg-info/
pip-wheel-metadata/
*.manifest
*.spec

# Logs / cache
*.log
.cache/
.pytest_cache/
.mypy_cache/
.pyre/

# Audio files
*.mp3

# pdf files
*.pdf
*.docx